# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# VSCode / Cursor
.vscode/
.cursor/

# PyCharm / IntelliJ
.idea/
*.iml

# Environment
.env

# OS
Thumbs.db
Desktop.ini

# App data
data/

